// Override default variables before the import
$body-bg: #FAFAFB;

$primary: #E46F24;
$success: #2B9943;
$secondary: #1A3C4A;
$danger: #DC362E;
$light: #ffffff;

$text-secondary: #667D86;

.card-success{
    border-bottom: 4px solid #2B9943;
    border-radius: 0.375rem;
}
.card-primary{
    border-bottom: 4px solid #E46F24;
    border-radius: 0.375rem;
}
.card-secondary{
    border-bottom: 4px solid #1A3C4A;
    border-radius: 0.375rem;
}

.active {
    background: linear-gradient(45deg, #fae2d3, transparent)
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';